<div class="container-fluid p-0 banner" style="background: url('<%= image_path "banner.png" %>'); background-size: 100% auto; background-repeat: no-repeat; background-position: center; height: 70vh;">
  <div class="d-flex justify-content-center align-items-end h-100">
    <div class="text-center text-white" style="margin-bottom: 50px;">
      <h1 class="display-4 font-weight-bold">Welcome in Dreams Land !</h1>
      <p class="lead custom-icon-color">Because you're worth it, Find the best places for your nights</p>
      <a class="btn btn-primary" href="rooms#index" role="button">Find a Dream Room</a>
    </div>
  </div>
</div>
